<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>My Courses</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Course Name</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Course Rating(1-5)</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>

              <ion-button class="ion-padding ion-margin-bottom" fill="solid">
                ADD
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding">
        <ion-col size-md="6" offset-md="3">
          <ion-list class="ion-padding">
            Angular - The Complete GUid - 5/5
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>

<!-- 
<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Budget Planner</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>New Expense</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form
                [formGroup]="expenseForm"
                (ngSubmit)="onSubmit(expenseForm.value)"
              >
                <ion-item>
                  <ion-label for="reason" position="floating"
                    >Expense Reason
                    <ion-input
                      name="reason"
                      formControlName="reason"
                      type="text"
                    ></ion-input>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label for="amount" position="floating"
                    >Expense Amount
                    <ion-input
                      name="amount"
                      formControlName="amount"
                      type="number"
                    ></ion-input>
                  </ion-label>
                </ion-item>
                <div class="ion-margin-vertical ion-text-right">
                  <ion-button type="button" fill="outline" color="danger">
                    <ion-icon slot="start" name="close"></ion-icon>
                    Clear</ion-button
                  >
                  <ion-button type="submit" [disabled]="!expenseForm.valid">
                    <ion-icon slot="start" name="add-outline"></ion-icon>
                    Add Expense</ion-button
                  >
                </div>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="">
        <ion-col size-md="6" offset-md="3">
          <ion-list id="expenses-list"> </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <p class="ion-margin">Total Expenses: <span>$200</span></p>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app> -->
